.App {
  text-align: center;
  /* padding: 10px; */
  color: white;
}

body{
  background-color: black;
}

.header{
  margin:20px;
  margin-right: 0px;
}

.header-search{
  display: flex;
  align-items: center;
  justify-content: center;

}

.header-search img{
  width:55px;
}

